<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light gradient-custom sticky-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
      <!-- Toggle button -->
      <button
          class="navbar-toggler text-white"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
      >
          <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
              <h4 class="pt-1 mb-1">UCN Digital</h4>
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Categories</a>
              </li>
              <!-- userLoginOn -->
              <li class="nav-item" *ngIf="userLoginOn">
                  <a class="nav-link" routerLink="/admin">Admin</a>
              </li>
          </ul>
          <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown">
         <!-- !userLoginOn --> 
        <li class="nav-item" *ngIf="!userLoginOn">
            <a class="nav-link active" routerLink="/register">Sign up</a>
        </li>
        <!-- userLoginOn -->
        <li class="nav-item" *ngIf="userLoginOn">
            <a class="nav-link active"  aria-current="page">Name User</a>
        </li>
        <!-- !userLoginOn -->
        <li class="nav-item" *ngIf="!userLoginOn">
            <a class="nav-link active" aria-current="page" href="/iniciar-sesion">Sign in</a>
        </li>
        <!-- userLoginOn -->
        <li class="nav-item" *ngIf="userLoginOn">
            <a class="nav-link active" aria-current="page" href="/">Sing out</a>
        </li>
          
      </ul>
      <!-- Left links -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->