<section class="vh-75" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <!-- Card Registro -->  
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <!-- form Registro -->
                  <form novalidate #f="ngForm" (ngSubmit)="OnRegister()">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Registro</span>
                    </div>
                  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"></h5>
                    <!-- Username -->
                    <div class="form-outline mb-4">
                      <input 
                        type="text"
                        class="form-control form-control-lg" 
                        id="userName"
                        name="userName"
                        placeholder="User name..."
                        [(ngModel)]="userName"
                        required
                      >
                      <label class="form-label" for="userName">Name</label>
                      <div *ngIf="usernameError" class="text-danger">El campo de usuario solo puede contener letras y números.</div>
                    </div>
                    <!-- Username -->
                    <div class="form-outline mb-4">
                      <input 
                        type="password" 
                        class="form-control form-control-lg" 
                        id="userPassword" 
                        name="userPassword" 
                        placeholder="Password"
                        [(ngModel)]="userPassword"
                        required
                      >
                      <label class="form-label" for="userPassword">Password</label>
                      <div *ngIf="passwordError" class="text-danger">El campo de contraseña solo puede contener letras y números.</div>
                    </div>
                    <!-- Boton  -->
                    <div class="pt-1 mb-4">
                      <button type="submit" class="btn btn-dark btn-lg btn-block" [disabled]="!f.valid">
                        Register
                      </button>
                    </div>
                    <!-- FIN Boton  -->
                  </form>
                  <!-- FIN forms  -->                   
                </div>
              </div>   
            </div>
          </div>
          <!-- FIN   -->
        </div>
      </div>
    </div>
    <div class="container py-1 h-50">
      <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="col col-xl-10">  
          <!-- Card Registro --> 
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <!-- form Registro -->
                  <form novalidate #f="ngForm" (ngSubmit)="OnRegister()">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Registro</span>
                    </div>
                  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"></h5>
                    <!-- Username -->
                    <div class="form-outline mb-4">
                      <input 
                        type="text"
                        class="form-control form-control-lg" 
                        id="userName"
                        name="userName"
                        placeholder="User name..."
                        [(ngModel)]="userName"
                        required
                      >
                      <label class="form-label" for="userName">Name</label>
                      <div *ngIf="usernameError" class="text-danger">El campo de usuario solo puede contener letras y números.</div>
                    </div>
                    <!-- UserPassword -->
                    <div class="form-outline mb-4">
                      <input 
                        type="password" 
                        class="form-control form-control-lg" 
                        id="userPassword" 
                        name="userPassword" 
                        placeholder="Password"
                        [(ngModel)]="userPassword"
                        required
                      >
                      <label class="form-label" for="userPassword">Password</label>
                      <div *ngIf="passwordError" class="text-danger">El campo de contraseña solo puede contener letras y números.</div>
                    </div>
                    <!-- InputDato -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form2Example27" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27">Password</label>
                      </div>
                    <!-- InputDato -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form2Example27" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27">Password</label>
                      </div>
                    <!-- Boton  -->
                    <div class="pt-1 mb-4">
                      <button type="submit" class="btn btn-dark btn-lg btn-block" [disabled]="!f.valid">
                        Register
                      </button>
                    </div>
                    <!-- FIN Boton  -->
                  </form>
                  <!-- FIN forms  -->                   
                </div>
              </div>   
            </div>
          </div>
          <!-- FIN   -->
        </div>
      </div>
    </div>
  </section>