<section class="vh-100" style="background-color: #9A616D;">
  <!-- Contenedor Create Product -->
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <!-- Card Create Product -->  
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                
                <!-- Aquí comienza tu formulario -->
                <div *ngIf="userLoginOn; else pleaseLogin">
                  <!-- (CREATE) form Create Producto -->
                  <form novalidate #f="ngForm" (ngSubmit)="CreateProduct()">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Create Product</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"></h5>

                    <!-- (CREATE) Name Product -->
                    <div class="form-outline mb-4">
                      <input 
                        type="text"
                        class="form-control form-control-lg" 
                        id="Create_name" 
                        name="Create_name"
                        placeholder="Create_name..."
                        [(ngModel)]="Create_name"
                        required>
                    </div>

                    <!-- (CREATE) Category Product -->
                    <div class="form-outline mb-4">
                        <input 
                          type="text"
                          class="form-control form-control-lg" 
                          id="Create_category" 
                          name="Create_category"
                          placeholder="Create_category..."
                          [(ngModel)]="Create_category"
                          required>
                    </div>

                    <!-- (CREATE) Price Product -->
                    <div class="form-outline mb-4">
                      <input 
                        type="text"
                        class="form-control form-control-lg" 
                        id="Create_price" 
                        name="Create_price"
                        placeholder="Create_price..."
                        [(ngModel)]="Create_price"
                        required
                        pattern="^\d+(\.\d+)?$">
                    </div>

                    <!-- (CREATE) Image Product -->
                    <div class="form-outline mb-4">
                        <input 
                          type="text"
                          class="form-control form-control-lg" 
                          id="Create_image" 
                          name="Create_image"
                          placeholder="Create_image..."
                          [(ngModel)]="Create_image"
                          required>
                    </div>
                    
                    <!-- (CREATE) UserName Product -->
                    <div class="form-outline mb-4">
                        <input 
                          type="text"
                          class="form-control form-control-lg" 
                          id="Create_username" 
                          name="Create_username"
                          placeholder="Create_username..."
                          [(ngModel)]="Create_username"
                          required>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                      {{ errorMessage }}
                    </div>

                    <!-- (CREATE) Description Product -->
                    <div class="form-outline mb-4">
                        <input 
                          type="text"
                          class="form-control form-control-lg" 
                          id="Create_description" 
                          name="Create_description"
                          placeholder="Create_description..."
                          [(ngModel)]="Create_description"
                          required>
                    </div>
                    
                    <!-- (CREATE) Boton -->
                    <div class="pt-1 mb-4">
                      <button type="submit" class="btn btn-dark btn-lg btn-block" [disabled]="!f.valid">
                        Register
                      </button>
                    </div>
                    <div *ngIf="successMessage" class="alert alert-success" role="alert">
                      {{ successMessage }}
                    </div>
                    <!-- (CREATE) FIN Boton -->
                  </form>
                  <!-- (CREATE) FIN forms -->
                </div>

                <ng-template #pleaseLogin>
                  <p>Por favor, inicia sesión para crear un producto.</p>
                </ng-template>
                <!-- Aquí termina tu formulario -->

              </div>
            </div>   
          </div>
        </div>
        <!-- FIN Card Create Product  -->
      </div>
    </div>
  </div>
  <!-- FIN Contenedor Create Product -->
</section>
